pkgbase = aperture-router
	pkgdesc = Universal AI router for Tailscale Aperture with dynamic model discovery
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/Wayazi/aperture-router
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	source = aperture-router-0.2.0.tar.gz::https://github.com/Wayazi/aperture-router/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = SKIP

pkgname = aperture-router
